<template>
  <div id="hero-container">
    <video
      id="hero-video"
      v-bind:src="$withBase(data.video)"
      playsinline=""
      muted="true"
      autoplay="true"
      loop="true"
      controls
    ></video>
  </div>
</template>

<script>
export default {
  name: "HeroVideo",
  computed: {
    data() {
      let page = this.$page.frontmatter.hero;
      let display = this.$page.frontmatter.hero ? true : false;
      return {
        show: display,
        title: page.title,
        subtitle: page.subtitle,
        video: page.video_src
      };
    }
  }
};
</script>

<style scoped>
#hero-container {
  position: relative;
  width: 100%;
  height: 0px;
  overflow: hidden;
  padding-bottom: 56%;
  margin-bottom: calc(var(--padding) * 2);
}
#hero-video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
