<template>
  <div class="content">
    <div class="member-page">
      <div>
        <img v-if="data.image" v-bind:src="data.image" v-bind:alt="data.name" />
      </div>
      <div>
        <h1>{{ data.name }}</h1>
        <Content />
        <ul class="profile-links">
          <li v-for="(url, key) in data.links">
            <a v-bind:href="url">{{ capitalized(key) }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MemberPage",
  computed: {
    data() {
      let page = this.$page.frontmatter;
      return {
        name: page.name,
        links: page.links,
        image: page.image
      };
    }
  },
  methods: {
    capitalized(string) {
      return string[0].toUpperCase() + string.slice(1);
    }
  }
};
</script>

<style scoped>
ul.profile-links {
  list-style: none;
  padding: 1.2rem 0;
  margin: 0;
}
ul.profile-links li {
  display: inline-block;
  margin-right: 0.6rem;
  margin-bottom: 0.8rem;
}
ul.profile-links li a {
  border: 1px solid var(--color);
  border-radius: 20px;
  padding: 0.2rem 0.7rem;
}

div.member-page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
div.member-page > div:nth-child(2) {
  padding-right: 1rem;
  max-width: 30em;
}

div.member-page h1 {
  line-height: 0.9;
}

div.member-page img {
  max-width: 40vw;
  max-height: 400px;
}
</style>
